[init]
	defaultBranch = main

[user]
	name = Quinn Pham
	email = quinnlp12@gmail.com

[core]
	editor = nvim
	excludesfile = ~/.config/git/ignore

[pager]
	branch = false
	diff = true

[advice]
	addIgnoredFile = false
